<section class="contact-section" id="contact" data-aos="fade-up">
    <h2 class="contact-title pt-4">Contact Me</h2>

    <div class="contact-container">
        <!-- Contact Info -->
        <div class="contact-info">
            <h2>Get In Touch</h2>
            <p>Feel free to reach out for any work, suggestions or collaboration!</p>
            <ul>
                <li><i class="fas fa-map-marker-alt"></i> Lucknow, Uttar Pradesh, India - 226022</li>
                <li><i class="fas fa-phone"></i> +91 8299491705, +91 8756346803</li>
                <li><i class="fas fa-envelope"></i> jamshed7664&#64;gmail.com</li>
            </ul>

            <!-- Social Links -->
            <div class="social-links">
                <a href="mailto:jamshed7664@gmail.com" title="Send Email"><i class="fas fa-envelope"></i> </a>
                <a href="https://www.linkedin.com/in/jamshed-ahmad7664/" title="Linked in" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/Jamshed7664" title="Github" target="_blank"><i   class="fab fa-github"></i></a>
            </div>
        </div>

        <!-- Contact Form -->
        <div class="contact-form" data-aos="zoom-in">
            <form action="https://formspree.io/f/xovlpgvo" method="POST">
                <div class="input-wrapper">
                    <i class="fas fa-user"></i>
                    <input type="text" name="name" placeholder="Your Name" required />
                </div>

                <div class="input-wrapper">
                    <i class="fas fa-envelope"></i>
                    <input type="email" name="email" placeholder="Your Email" required />
                </div>

                <div class="input-wrapper">
                    <i class="fas fa-comment-dots"></i>
                    <textarea name="message" rows="4" placeholder="Your Message" required></textarea>
                </div>

                <button type="submit">Send Message</button>
            </form>
        </div>
    </div>
</section>