<section class="about-section" data-aos="fade-up">
    <div class="about-container">
        <div class="about-text">
            <h2 class="section-title">
                About Me
                <!-- <span class="title-accent"></span> -->
            </h2>
            <p class="mt-3"> <br>
                I'm an Angular, ReactJS, and NextJS Developer with <strong>5 years</strong> of IT experience
                in full-stack development — from integrating backend services to deploying scalable applications.
            </p>
            <p>
                With a B.Tech in Computer Science and hands-on leadership in UI development, I specialize in creating
                <span class="highlight">modern, high-performance, and visually captivating applications</span>.
            </p>
            <p>
                My expertise lies in responsive layouts, design optimization, and building user-centric solutions that
                address real business needs with clean, maintainable code.
            </p>

            <div class="about-buttons">
                <a href="#projects" class="btn-accent">View My Work</a>
                <a href="#contact" class="btn-outline">Contact Me</a>
            </div>
        </div>

        <div class="about-image" data-aos="zoom-in">
            <img src="../../../assets/image/profile.jpeg" alt="Profile Photo" />
            <div class="glow-ring"></div>
        </div>
    </div>
</section>