<app-header (navigateToSection)="scrollToSection($event)"></app-header>
<div id="homeSection" data-aos="zoom-in">
    <section class="container-fluid" id="home">
        <div class="intro">
            <h1>
                Hi, I'm <br /><span>Jamshed Ahmad</span>
            </h1>
            <p>
                I'm a <span class="typed-text"></span>
            </p>
    
            <p>An Angular, ReactJS, and NextJS Developer with 5 years of experience in front-end and full-stack
                development. I specialize in responsive UI development, reusable component building, and delivering
                enterprise-grade applications using modern JavaScript frameworks. Currently working at HCLTech Noida.</p>
           <a href="#contact" ><button>Get In Touch</button></a>
        </div>
    
    
    
        <div class="image-container">
            <img src="../../../assets/image/profile.jpeg" alt="Jamshed Ahmad" data-aos="zoom-in">
        </div>
    </section>
</div>
<app-skills id="skill"></app-skills>
<div id="about"><app-about></app-about></div>
<div id="experience"><app-experience></app-experience></div>
<div id="education"><app-education></app-education></div>
<div id="projects"><app-projects></app-projects></div>
<div id="contact"><app-contact></app-contact></div>
<div id="tech"><app-ttech-stack></app-ttech-stack></div>
<app-testimonials></app-testimonials>

<app-footer></app-footer>