<section class="projects-section">
    <h2 class="section-title">Projects</h2>

    <div class="project-grid">
        <div class="project-card" *ngFor="let project of displayedProjects;index as i" [attr.data-aos]="project.aos">

            <h3><span>{{ i+1 }}. &nbsp;</span>{{ project.title }}</h3>
            <p>{{ project.description }}</p>

            <div class="tags">
                <span *ngFor="let tag of project.tags">{{ tag }}</span>
            </div>
        </div>
    </div>

    <div class="text-center mt-4">
        <button class="btn-grad " (click)="toggleShow()">
            {{ showAll ? 'Show Less' : 'Show More' }}
        </button>
    </div>
</section>