<section class="timeline-section" data-aos="fade-down">
    <h2 class="timeline-title">Education</h2>
    <div class="timeline">
        <div class="timeline-item left" data-aos="fade-down">
            <div class="content">
                <h5 class="mb-2">B.Tech: Computer Science & Engineering</h5> 
                <h6 class="mb-2"><b>MAIT, AKTU Lucknow</b></h6>
                <p>Successfully completed my graduation as a full-time student with Honors, achieving an overall score of 78%, reflecting
                consistent academic excellence and dedication throughout the course.</p>
            </div>
        </div>

        <div class="timeline-item right" data-aos="fade-up">
    <div class="content">
        <h5 class="mb-2">Intermediate: Science Stream (Physics, Chemistry, Mathematics)</h5>
        <h6 class="mb-2"><b>SVN Inter Collage, UP BOARD [English Medium]</b></h6>
        <p>Successfully completed my Intermediate education in the Science stream with a strong academic record, securing
            83% marks. Demonstrated consistent performance, dedication, and a solid foundation in core
            subjects.</p>
    </div>
        </div>

        <div class="timeline-item left" data-aos="fade-down">
        <div class="content">
            <h5 class="mb-2">High School: Science Stream</h5>
            <h6 class="mb-2"><b>SVN Inter College, UP Board [English Medium]</b></h6>
            <p>Successfully completed my High School education with distinction, securing 85% marks. Built a strong academic
                foundation across core subjects and demonstrated dedication, discipline, and consistent performance
                throughout the curriculum.</p>
        </div>
        </div>
    </div>
</section>