<section class="about-section text-white p-0" data-aos="zoom-in">
    <h2 class="section-title">Skills</h2>
    <div class="section-view">
        <div class="{{ isMobile ? 'container-fluid' : 'container' }}">
            <div class="row">

                <!-- Left -->
                <div class="col-md-6 mb-3">
                    <div class="skills">
                        <div class="skill-card">
                            <div class="skill" *ngFor="let skill of skillsLeft">
                                <div class="skill-name">
                                    <span>{{ skill.name }}</span>
                                    <span>{{ skill.percent }}%</span>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-fill glow" attr.data-percent="{{ skill.percent }}" style="width: 0%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Right -->
                <div class="col-md-6">
                    <div class="skills">
                        <div class="skill-card">
                            <div class="skill" *ngFor="let skill of skillsRight">
                                <div class="skill-name">
                                    <span>{{ skill.name }}</span>
                                    <span>{{ skill.percent }}%</span>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-fill glow" attr.data-percent="{{ skill.percent }}" style="width: 0%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>