<section class="about-section text-white" data-aos="zoom-in">
    <h2 class="section-title">Skills</h2>
    <div class="section-view">
        <div class="{{ isMobile ? 'container-fluid' : 'container' }}">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="skills">
                        <!-- Card 1 -->
                        <div class="skill-card">
                            <div class="skill">
                                <div class="skill-name">
                                    <span>🅰️ Angular</span><span>95%</span>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-fill" style="width: 95%;"></div>
                                </div>
                            </div>

                            <div class="skill">
                                <div class="skill-name">
                                    <span>⚛️ ReactJS</span><span>95%</span>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-fill" style="width: 95%;"></div>
                                </div>
                            </div>

                            <div class="skill">
                                <div class="skill-name">
                                    <span>⏭️ NextJS</span><span>90%</span>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-fill" style="width: 90%;"></div>
                                </div>
                            </div>

                            <div class="skill">
                                <div class="skill-name">
                                    <span>📜 JavaScript</span><span>90%</span>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-fill" style="width: 90%;"></div>
                                </div>
                            </div>

                            <div class="skill">
                                <div class="skill-name">
                                    <span>🟦 TypeScript</span><span>80%</span>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-fill" style="width: 80%;"></div>
                                </div>
                            </div>

                            <div class="skill">
                                <div class="skill-name">
                                    <span>🌐 HTML5/CSS3</span><span>85%</span>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-fill" style="width: 85%;"></div>
                                </div>
                            </div>

                            <div class="skill">
                                <div class="skill-name">
                                    <span>📦 Bootstrap</span><span>85%</span>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-fill" style="width: 85%;"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="skills">
                        <div class="skill-card">
                            <div class="skill">
                                <div class="skill-name">
                                    <span>🎨 Tailwind CSS</span><span>85%</span>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-fill" style="width: 85%;"></div>
                                </div>
                            </div>

                            <div class="skill">
                                <div class="skill-name">
                                    <span>💅 SCSS/SASS</span><span>85%</span>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-fill" style="width: 85%;"></div>
                                </div>
                            </div>

                            <div class="skill">
                                <div class="skill-name">
                                    <span>🟩 NodeJS</span><span>85%</span>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-fill" style="width: 85%;"></div>
                                </div>
                            </div>

                            <div class="skill">
                                <div class="skill-name">
                                    <span>🍃 MongoDB</span><span>70%</span>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-fill" style="width: 70%;"></div>
                                </div>
                            </div>

                            <div class="skill">
                                <div class="skill-name">
                                    <span>🗄️ MySQL</span><span>70%</span>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-fill" style="width: 70%;"></div>
                                </div>
                            </div>

                            <div class="skill">
                                <div class="skill-name">
                                    <span>🔧 Git / GitLab</span><span>85%</span>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-fill" style="width: 85%;"></div>
                                </div>
                            </div>

                            <div class="skill">
                                <div class="skill-name">
                                    <span>📮 Postman / Swagger</span><span>85%</span>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-fill" style="width: 85%;"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</section>