.about-section {
    background: #0f172a;
    padding: 50px 10%;   
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    color: #ffffff !important;
    min-height: 100%;
    align-items: center;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #10b981;
}

.section-title::after {
content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    height: 4px;
    width: 110px;
    border-radius: 2px;
    background: linear-gradient(90deg, #4facfe, #00f2fe);
}

.section-view {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    text-align: center;
}

.skills {
    flex: 1 1 45%;
    background: #1c2331;
    // padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 227, 194, 0.1);
    height: fit-content;
}

.skill-card {
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.skill {
    margin-bottom: 15px;
}

.skill-name {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 5px;
}

.skill-name span:first-child {
    display: flex;
    align-items: center;
    gap: 8px;
}


@keyframes fillAnimation {
    from {
        width: 0;
    }

    to {
        width: var(--skill-width);
    }
}
.skill-bar {
    border-radius: 10px;
    height: 8px;
    overflow: hidden;
    background-color: black;
    /* remaining bar */
}

.skill-fill {
    height: 8px;
    border-radius: 10px;
    background: linear-gradient(90deg, #4facfe, #00f2fe);
    width: 0;
    /* start empty */
    transition: width 1.5s ease-out;
}

@media (max-width: 768px) {
    .skill-card {
        flex: 1 1 100%;
    }
        .about-section {
            // padding: 40px 10%;
            
        }
}


