.testimonial-section {
    background: #0f172a;
    padding: 60px 20px;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #e2e8f0;
}

.section-title {
    color: #00cba9;
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: bold;
}

.testimonial-card {
    background-color: #1e293b;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(16, 185, 129, 0.1);
    max-width: 100%;
    margin: 0 auto;
    color: #cbd5e1;
}

.testimonial-card p {
    font-style: italic;
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.testimonial-card h5 {
    color: #10b981;
    font-weight: 600;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    // background-color: #10b981;
    border-radius: 50%;
    padding: 10px;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.section-title::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    height: 4px;
    width: 390px;
    border-radius: 2px;
    background: linear-gradient(90deg, #4facfe, #00f2fe);
}