<section class="tech-stack container">
    <h2 class="stack-title mb-5">Tech Stack & Tools</h2>

    <div class="marquee">
        <div class="marquee-content">
            <div class="icon-box" data-aos="zoom-in" data-aos="zoom-in">
                <img src="../../../assets/image/nodejs.png" alt="Node.js" />
                <span>Node.js</span>
            </div>
            <div class="icon-box" data-aos="zoom-in">
                <img src="../../../assets/image/reactjs.webp" alt="ReactJS" />
                <span>ReactJS</span>
            </div>
            <div class="icon-box" data-aos="zoom-in">
                <img src="../../../assets/image/mongo.png" alt="MongoDB" />
                <span>MongoDB</span>
            </div>
            <div class="icon-box" data-aos="zoom-in">
                <img src="../../../assets/image/typescript.png" alt="Typescript" />
                <span>Typescript</span>
            </div>
            <div class="icon-box" data-aos="zoom-in">
                <img src="../../../assets/image/html.webp" alt="HTML" />
                <span>HTML 5</span>
            </div>
            <div class="icon-box" data-aos="zoom-in">
                <img src="../../../assets/image/css.webp" alt="CSS" />
                <span>CSS 3</span>
            </div>
            <div class="icon-box" data-aos="zoom-in">
                <img src="../../../assets/image/bootstrap.jpg" alt="Bootstrap" />
                <span>Bootstrap</span>
            </div>

            <!-- Duplicate icons for seamless infinite loop -->
            <div class="icon-box" data-aos="zoom-in">
                <img src="../../../assets/image/nodejs.png" alt="Node.js" />
                <span>Node.js</span>
            </div>
            <div class="icon-box" data-aos="zoom-in">
                <img src="../../../assets/image/reactjs.webp" alt="ReactJS" />
                <span>ReactJS</span>
            </div>
            <div class="icon-box" data-aos="zoom-in">
                <img src="../../../assets/image/mongo.png" alt="MongoDB" />
                <span>MongoDB</span>
            </div>
        </div>
    </div>
</section>