<section class="timeline-section">
    <h2 class="timeline-title">Experience</h2>
    <div class="timeline">
        <div class="timeline-item left" data-aos="fade-up">
            <div class="content">
                <h5 class="mb-2">HCL Tech Noida</h5>
                <h6 class="mb-2">Lead Engineer</h6>
                <p>Sept 2024 – Present</p>
                <ul>
                    <li>Collaborating with back-end developers and web designers to improve usability.</li>
                    <li>Integrating the APIs created by Backed-Developers.</li>
                    <li>Adding new features as per the requirement.</li>
                    <li>Bug fixing raised by Users or Testers.</li>
                    <li>Writing functional requirement documents and guides.</li>
                </ul>
                <p class="mb-2" style="color: lightblue;">Technologies</p>
                <div class="tags">
                    <span>🅰️ Angular</span>
                    <span>⚛️ ReactJS</span>
                    <span>🌐HTML/CSS</span>
                    <span>🟦TypeScript</span>
                    <span>⏭️ NextJS</span>
                    <span>📦 Bootstrap</span>
                    <span>💅SCSS/SASS</span>
                    <span>🔧 GIT</span>
                </div>
            </div>
        </div>
        <div class="timeline-item right" data-aos="fade-up">
            <div class="content">
                <h5 class="mb-2">Mobile Programming LLC</h5>
                <h6 class="mb-2">Sr. Software Developer</h6>
                <p>December 2021 – August 2024</p>
                <ul>
                    <li>Optimizing web applications for maximum speed, scalability, and performance.</li> 
                    <li>Ensuring cross-browser compatibility and responsive design across devices.</li>
                    <li>Collaborating with QA teams to perform testing, debugging, and validation of features.</li>
                    <li>Implementing best practices for clean, maintainable, and reusable code.</li>
                </ul>
                <p class="mb-2" style="color: lightblue;">Technologies</p>
                <div class="tags">
                    <span>🅰️ Angular</span>
                    <span>⚛️ ReactJS</span>
                    <span>🌐HTML/CSS</span>
                    <span>🟦TypeScript</span>
                    <span>⏭️ NextJS</span>
                    <span>📦 Bootstrap</span>
                    <span>💅SCSS/SASS</span>
                    <span>🔧 GIT</span>
                </div>
            </div>
        </div>
        <div class="timeline-item left" data-aos="fade-up">
            <div class="content">
                <h5 class="mb-2">Oodles Technology</h5>
                <h6 class="mb-2">Associate Consultant – Frontend Development</h6>
                <p>October 2020 – November 2021</p>
                <ul>
                    <li>Participating in code reviews to ensure high-quality standards are met.</li>
                    <li>Working closely with stakeholders to gather and refine requirements.</li>
                    <li>Creating and maintaining technical documentation for future reference.</li>
                    <li>Ensuring application security and data protection best practices.</li>
                </ul>
                <p class="mb-2" style="color: lightblue;">Technologies</p>
                <div class="tags">
                    <span>🅰️ Angular</span>
                    <span>⚛️ ReactJS</span>
                    <span>🌐HTML/CSS</span>
                    <span>🟦TypeScript</span>
                    <span>⏭️ NextJS</span>
                    <span>📦 Bootstrap</span>
                    <span>💅SCSS/SASS</span>
                    <span>🔧 GIT</span>
                </div>
            </div>
        </div>
    </div>
</section>