<section class="timeline-section">
    <h2 class="timeline-title">Experience</h2>
    <div class="timeline">
        <div class="timeline-item left" data-aos="fade-down">
            <div class="content">
                <h5 class="mb-2">HCL Tech Noida</h5>
                <h6 class="mb-2">Lead Engineer</h6>
                <p>Sept 2024 – Present</p>
                <ul>
                    <li>Contributed to core improvements in All Things API (ATA).</li>
                    <li>Led end-to-end implementation of the AskAI module.</li>
                    <li><strong>Technologies:</strong> ReactJS</li>
                </ul>
            </div>
        </div>
        <div class="timeline-item right" data-aos="fade-up">
            <div class="content">
                <h5 class="mb-2">Mobile Programming LLC</h5>
                <h6 class="mb-2">Sr. Software Developer</h6>
                <p>December 2021 – August 2024</p>
                <ul>
                    <li>Built admin panel for Beeline app.</li>
                    <li>Enhanced features in Recruitment.ai.</li>
                    <li><strong>Technologies:</strong> ReactJS, Angular, JavaScript, HTML, CSS, Git NextJS</li>
                </ul>
            </div>
        </div>
        <div class="timeline-item left" data-aos="fade-up">
            <div class="content">
                <h5 class="mb-2">Oodles Technology</h5>
                <h6 class="mb-2">Associate Consultant – Frontend Development</h6>
                <p>October 2020 – November 2021</p>
                <ul>
                    <li>Developed responsive UI for enterprise apps.</li>
                    <li>Worked on <b>All Things API (ATA)</b> features.</li>
                    <li>Built and deployed the <b>AskAI</b> module.</li>
                    <li>Integrated frontend with REST APIs.</li>
                    <li><strong>Technologies:</strong> ReactJS, Angular, JavaScript, HTML, CSS, Git</li>
                </ul>
            </div>
        </div>
    </div>
</section>